templates_tobuild/opt/deg/IUM/mngr/flatfiles/ProvisioningInterface/soap/SubscriberProvisioningInterface.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.hp.com/deg/DEG_SubscribersProvisioningInterface/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DEG_SubscribersProvisioningInterface" targetNamespace="http://www.hp.com/deg/DEG_SubscribersProvisioningInterface/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.hp.com/deg/DEG_SubscribersProvisioningInterface/">
      <xsd:element name="ManageSubscribers">
        <xsd:complexType>
            <xsd:all maxOccurs="1">
          	<xsd:element name="MDN" type="xsd:string" maxOccurs="1" minOccurs="1" />
          	<xsd:element name="IMSI" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            <xsd:element name="NewMDN" type="xsd:string" maxOccurs="1" minOccurs="0" />
            <xsd:element name="NewIMSI" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="MIN" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="Operation" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
           	<xsd:element name="EntitlementSubOp" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            <xsd:element name="EntitlementSubOpValue" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="CustomerIdentity" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="CustomerCategory" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="IMEI" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="ESN" type="xsd:string" maxOccurs="1"	minOccurs="0"></xsd:element>
          	<xsd:element name="MEID" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="ICCID" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="CustomerStatus" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="ProvisioningTime" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="VowifiTcStatus" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
			<xsd:element name="VowifiAddressStatus" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="VowifiProvStatus" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
			<xsd:element name="GatewayAddress" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
	        <xsd:element name="EntitlementList" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
			<xsd:element name="AddrUpdatePOSTData" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
			<xsd:element name="AddrUpdateURL" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      <xsd:element name="CompanionCount" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
	  <xsd:element name="RoamingIMSI" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>

          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ManageSubscribersResponse">
        <xsd:complexType>
          <xsd:sequence maxOccurs="1">
          	<xsd:element name="Response" type="tns:DefaultResponseType"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
	  
<xsd:element name="QuerySubscribers">
	<xsd:complexType>
		<xsd:all maxOccurs="1">
			<xsd:element name="QueryType" type="xsd:string" maxOccurs="1" minOccurs="1" />
			<xsd:element name="MDN" type="xsd:string" maxOccurs="1" minOccurs="0" />
			<xsd:element name="IMSI" type="xsd:string" maxOccurs="1" minOccurs="0" />
		</xsd:all>
	</xsd:complexType>
</xsd:element>

<xsd:element name="QuerySubscribersResponse">
	<xsd:complexType>
		<xsd:sequence maxOccurs="1">
			<xsd:element name="Response" type="tns:MDNQuerySubscribersResponse"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

<xsd:complexType name="MDNQuerySubscribersResponse">
	<xsd:sequence maxOccurs="1">
		<xsd:element name="StatusCode" type="xsd:string" />
		<xsd:element name="ErrorCode" type="xsd:string"></xsd:element>
		<xsd:element name="ErrorDescription" type="xsd:string"></xsd:element>
		<xsd:element name="IMSI" type="xsd:string"></xsd:element>
		<xsd:element name="MDN" type="xsd:string"></xsd:element>
		<xsd:element name="MIN" type="xsd:string"></xsd:element>
		<xsd:element name="IMEI" type="xsd:string"></xsd:element>
		<xsd:element name="CustomerStatus" type="xsd:string"></xsd:element>
		<xsd:element name="ProvisioningTime" type="xsd:string"></xsd:element>
		<xsd:element name="ServicesStatusArray" type="tns:SubscriberFeatureListQueryResponse"></xsd:element>
		<xsd:element name="CompanionCount" type="xsd:string"></xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="SubscriberFeatureListQueryResponse">
	<xsd:sequence maxOccurs="1">
		<xsd:element name="TetheringElement" type="tns:TetheringQueryResponse"></xsd:element>
		<xsd:element name="VoLTEElement" type="tns:VoLTEQueryResponse"></xsd:element>
		<xsd:element name="VoWiFiElement" type="tns:VoWiFiQueryResponse"></xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TetheringQueryResponse">
	<xsd:sequence maxOccurs="1">
		<xsd:element name="TetheringProvStatus" type="xsd:string"></xsd:element>
	</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="VoLTEQueryResponse">
	<xsd:sequence maxOccurs="1">
		<xsd:element name="VoLTEProvStatus" type="xsd:string"></xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="VoWiFiQueryResponse">
	<xsd:sequence maxOccurs="1">
		<xsd:element name="VoWiFiProvStatus" type="xsd:string"></xsd:element>
		<xsd:element name="VoWiFiTcStatus" type="xsd:string"></xsd:element>
		<xsd:element name="VoWiFiAddressStatus" type="xsd:string"></xsd:element>
	</xsd:sequence>
</xsd:complexType>
	  
      <xsd:element name="ManageSubscribersUsage">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="MDN" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      			<xsd:element name="IMSI" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      			<xsd:element name="Operation" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
			     <xsd:element name="UsageTypes" type="xsd:string" maxOccurs="unbounded" minOccurs="1"></xsd:element>
			      <xsd:element name="VoiceUsage" type="tns:VoiceUsageType" maxOccurs="1" minOccurs="0"></xsd:element>
			      <xsd:element name="DataUsage" type="tns:DataUsageType" maxOccurs="1" minOccurs="0"></xsd:element>
			      <xsd:element name="MessageUsage" type="tns:MessageUsageType" maxOccurs="1" minOccurs="0"></xsd:element>
      		</xsd:sequence>
	</xsd:complexType>

      </xsd:element>
      <xsd:element name="ManageSubscribersUsageResponse">
      	<xsd:complexType>
          <xsd:sequence maxOccurs="1">
          	<xsd:element name="Response" type="tns:DefaultResponseType"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ManageSubscribersSubscription">
         <xsd:complexType>
            	<xsd:sequence>
            		<xsd:element name="MDN" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            		<xsd:element name="IMSI" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            		<xsd:element name="Operation" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
			<xsd:element name="SubscriptionTypes" type="xsd:string" maxOccurs="unbounded" minOccurs="1"></xsd:element>
			<xsd:element name="VoiceSubscription" type="tns:VoiceSubscriptionType" maxOccurs="1" minOccurs="0"></xsd:element>
			<xsd:element name="DataSubscription" type="tns:DataSubscriptionType" maxOccurs="1" minOccurs="0"></xsd:element>
			<xsd:element name="MessageSubscription" type="tns:MessageSubscriptionType" maxOccurs="1" minOccurs="0"></xsd:element>
            		<xsd:element name="AccountInfo" type="tns:AccountInfoType" maxOccurs="1" minOccurs="0"></xsd:element>
            	</xsd:sequence>
         </xsd:complexType>

      </xsd:element>
      <xsd:element name="ManageSubscribersSubscriptionResponse">
        <xsd:complexType>
          <xsd:sequence maxOccurs="1">
          	<xsd:element name="Response" type="tns:DefaultResponseType"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

            <xsd:element name="ManageIMSCredentials">
         <xsd:complexType>
            	<xsd:sequence>
					<xsd:element name="IMSI" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            		<xsd:element name="Operation" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="IMSCredentials" type="tns:IMSCredentialsType" maxOccurs="unbounded" minOccurs="0"></xsd:element>
			<xsd:element name="ProvisioningTime" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            	</xsd:sequence>
         </xsd:complexType>

      </xsd:element>
      <xsd:element name="ManageIMSCredentialsResponse">
        <xsd:complexType>
          <xsd:sequence maxOccurs="1">
          	<xsd:element name="Response" type="tns:DefaultResponseType"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

       <xsd:element name="MultiSIMSignUpNotification">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="MDN" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element> 
            <xsd:element name="IMSI" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            <xsd:element name="PRIMARY_ICCID" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            <xsd:element name="APNS_NOTIFICATION_NAME" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MultiSIMSignUpNotificationResponse">
        <xsd:complexType>
          <xsd:sequence maxOccurs="1">
            <xsd:element name="Response" type="tns:DefaultResponseType"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:complexType name="DefaultResponseType">
        <xsd:sequence maxOccurs="1">
          	<xsd:element name="StatusCode" type="xsd:string"/>
          	<xsd:element name="ErrorCode" type="xsd:string"></xsd:element>
          	<xsd:element name="ErrorDescription" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="VoiceUsageType">
      	<xsd:sequence>
      		<xsd:element name="CategoryId" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="VoiceCapacity" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="VoiceUsed" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="TimesTamp" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="DataUsageType">
     	<xsd:sequence>
            	<xsd:element name="CategoryId" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            	<xsd:element name="UseForAlert" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            	<xsd:element name="DataCapacity" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            	<xsd:element name="DataUsed" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            	<xsd:element name="TimesTamp" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="MessageUsageType">
            <xsd:sequence>
            	<xsd:element name="CategoryId" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            	<xsd:element name="moSMS" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            	<xsd:element name="mtSMS" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            	<xsd:element name="TotalSMS" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
           	<xsd:element name="moMMS" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
           	<xsd:element name="mtMMS" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
           	<xsd:element name="TotalMMS" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
           	<xsd:element name="SMSCapacity" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
           	<xsd:element name="MMSCapacity" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
           	<xsd:element name="TimesTamp" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
		</xsd:sequence>
       </xsd:complexType>

      <xsd:complexType name="DataSubscriptionType">
      	<xsd:sequence>
      		<xsd:element name="SubscriptionStatus" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="PlanType" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="PlanMgtType" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
          <xsd:element name="TimesTamp" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="VoiceSubscriptionType">
	<xsd:sequence>
            		
		<xsd:element name="SubscriptionStatus" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
          <xsd:element name="PlanType" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
          <xsd:element name="TimesTamp" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="MessageSubscriptionType">
      	<xsd:sequence>
      		<xsd:element name="SubscriptionStatus" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="PlanType" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
          <xsd:element name="TimesTamp" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="AccountInfoType">
      	<xsd:sequence>
      		<xsd:element name="BillingCycleStartDate" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="BillingCycleEndDate" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="PlanType" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="AutoRenew" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="Stackin" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
           	<xsd:element name="TimesTamp" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="IMSCredentialsType">
         <xsd:sequence>
            <xsd:element name="DeviceId" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
			<xsd:element name="UniqueId" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="IMSPrivateId" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
 		    <xsd:element name="IMSPublicId" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="SipUserName" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="SipPassword" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
	 </xsd:sequence>
       </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="ManageSubscribersRequest">
    <wsdl:part element="tns:ManageSubscribers" name="ManageSubscribersRequest"/>
  </wsdl:message>
  <wsdl:message name="ManageSubscribersResponse">
    <wsdl:part element="tns:ManageSubscribersResponse" name="ManageSubscribersResponse"/>
  </wsdl:message>
  
<wsdl:message name="QuerySubscribersRequest">
	<wsdl:part element="tns:QuerySubscribers" name="QuerySubscribersRequest"/>
</wsdl:message>
<wsdl:message name="QuerySubscribersResponse">
	<wsdl:part element="tns:QuerySubscribersResponse" name="QuerySubscribersResponse"/>
</wsdl:message>
  
  <wsdl:message name="ManageSubscribersUsageRequest">
  	<wsdl:part name="ManageSubscribersUsageRequest" element="tns:ManageSubscribersUsage"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ManageSubscribersUsageResponse">
  	<wsdl:part name="ManageSubscribersUsageResponse" element="tns:ManageSubscribersUsageResponse"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="ManageSubscribersSubscriptionRequest">
  	<wsdl:part name="ManageSubscribersSubscriptionRequest" element="tns:ManageSubscribersSubscription"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ManageSubscribersSubscriptionResponse">
  	<wsdl:part name="ManageSubscribersSubscriptionResponse" element="tns:ManageSubscribersSubscriptionResponse"></wsdl:part>
  </wsdl:message>

    <wsdl:message name="ManageIMSCredentialsRequest">
  	<wsdl:part name="ManageIMSCredentialsRequest" element="tns:ManageIMSCredentials"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ManageIMSCredentialsResponse">
  	<wsdl:part name="ManageIMSCredentialsResponse" element="tns:ManageIMSCredentialsResponse"></wsdl:part>
  </wsdl:message>

   <wsdl:message name="MultiSIMSignUpNotificationRequest">
    <wsdl:part name="MultiSIMSignUpNotificationRequest" element="tns:MultiSIMSignUpNotification"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="MultiSIMSignUpNotificationResponse">
    <wsdl:part name="MultiSIMSignUpNotificationResponse" element="tns:MultiSIMSignUpNotificationResponse"></wsdl:part>
  </wsdl:message>
  
  <wsdl:portType name="DEG_SubscribersProvisioningInterface">
    <wsdl:operation name="ManageSubscribers">
      <wsdl:input message="tns:ManageSubscribersRequest"/>
      <wsdl:output message="tns:ManageSubscribersResponse"/>
    </wsdl:operation>
	<wsdl:operation name="QuerySubscribers">
      <wsdl:input message="tns:QuerySubscribersRequest"/>
      <wsdl:output message="tns:QuerySubscribersResponse"/>
    </wsdl:operation>
    <wsdl:operation name="ManageSubscribersUsage">
    	<wsdl:input message="tns:ManageSubscribersUsageRequest"></wsdl:input>
    	<wsdl:output message="tns:ManageSubscribersUsageResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ManageSubscribersSubscription">
    	<wsdl:input message="tns:ManageSubscribersSubscriptionRequest"></wsdl:input>
    	<wsdl:output message="tns:ManageSubscribersSubscriptionResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ManageIMSCredentials">
    	<wsdl:input message="tns:ManageIMSCredentialsRequest"></wsdl:input>
    	<wsdl:output message="tns:ManageIMSCredentialsResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultiSIMSignUpNotification">
      <wsdl:input message="tns:MultiSIMSignUpNotificationRequest"></wsdl:input>
      <wsdl:output message="tns:MultiSIMSignUpNotificationResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>  
  <wsdl:binding name="DEG_SubscribersProvisioningInterfaceSOAP" type="tns:DEG_SubscribersProvisioningInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ManageSubscribers">
      <soap:operation soapAction="http://www.hp.com/deg/DEG_SubscribersProvisioningInterface/ManageSubscribers"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
	<wsdl:operation name="QuerySubscribers">
      <soap:operation soapAction="http://www.hp.com/deg/DEG_SubscribersProvisioningInterface/QuerySubscribers"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ManageSubscribersUsage">
      <soap:operation soapAction="http://www.hp.com/deg/DEG_SubscribersProvisioningInterface/ManageSubscribersUsage"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ManageSubscribersSubscription">
      <soap:operation soapAction="http://www.hp.com/deg/DEG_SubscribersProvisioningInterface/ManageSubscribersSubscription"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ManageIMSCredentials">
      <soap:operation soapAction="http://www.hp.com/deg/DEG_SubscribersProvisioningInterface/ManageIMSCredentials"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultiSIMSignUpNotification">
      <soap:operation soapAction="http://www.hp.com/deg/DEG_SubscribersProvisioningInterface/MultiSIMSignUpNotification"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="DEG_SubscribersProvisioningInterface">
    <wsdl:port binding="tns:DEG_SubscribersProvisioningInterfaceSOAP" name="DEG_SubscribersProvisioningInterfaceSOAP">
      <soap:address location="http://www.hp.com/deg"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>
