templates_tobuild/opt/deg/IUM/flatfiles/NRBToolInterface/soap/NrbTool2IUMInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.hp.com/deg/NrbTool2IumInterface" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NrbTool2IumInterface" targetNamespace="http://www.hp.com/deg/NrbTool2IumInterface">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://www.hp.com/deg/NrbTool2IumInterface">
      <xsd:element name="GetActiveServices">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Mdn" type="xsd:string" maxOccurs="1" minOccurs="0"/>
	    <xsd:element name="Imsi" type="xsd:string" maxOccurs="1" minOccurs="0"/>
		 <xsd:element name="UniqueID" type="xsd:string" maxOccurs="1" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetActiveServicesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ReturnCode" type="xsd:int" maxOccurs="1" minOccurs="1"/>
            <xsd:element name="ErrorText" type="xsd:string" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="MinNumber" type="xsd:string" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="MtasCustomerId" type="xsd:string" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="CustomerType" type="xsd:string" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="CustomerStatus" type="xsd:string" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="Esn" type="xsd:string" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="Meid" type="xsd:string" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="Iccid" type="xsd:string" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="Imsi" type="xsd:string" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="FeturesProvisioned" type="xsd:string" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="DegTokenStatus" type="xsd:string" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="ActivationDate" type="xsd:dateTime" maxOccurs="1" minOccurs="0"/>
	    <xsd:element name="LastChangeDate" type="xsd:dateTime" maxOccurs="1" minOccurs="0"/>
	    <xsd:element name="LastUpdateDate" type="xsd:dateTime" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="Services" type="tns:Service" maxOccurs="1" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Service">
        <xsd:sequence>
          <xsd:element name="Service" type="tns:ServiceDetails" maxOccurs="10" minOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ServiceDetails">
        <xsd:sequence>
          <xsd:element name="AspName" type="xsd:string" maxOccurs="1" minOccurs="1"/>
          <xsd:element name="ServiceCode" type="xsd:string" maxOccurs="1" minOccurs="1"/>
          <xsd:element name="FeatureCode" type="xsd:string" maxOccurs="1" minOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="CreateMonitoringSession">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Mdn" type="xsd:string" maxOccurs="1" minOccurs="0"/>
	    <xsd:element name="Imsi" type="xsd:string" maxOccurs="1" minOccurs="0"/>
		<xsd:element name="UniqueID" type="xsd:string" maxOccurs="1" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMonitoringSessionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ReturnCode" type="xsd:int" maxOccurs="1" minOccurs="1"/>
            <xsd:element name="ErrorText" type="xsd:string" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="SessionId" type="xsd:string" maxOccurs="1" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetMonitoringSessionTransactions">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SessionId" type="xsd:string" maxOccurs="1" minOccurs="1"/>
            <xsd:element name="LastTransactionId" type="xsd:string" maxOccurs="1" minOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetMonitoringSessionTransactionsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ReturnCode" type="xsd:int" maxOccurs="1" minOccurs="1"/>
            <xsd:element name="ErrorText" type="xsd:string" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="MonitoringSessionStatus" type="xsd:string" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="Transactions" type="tns:TransactionByMdn" maxOccurs="1" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>                  
      <xsd:complexType name="TransactionByMdn">
        <xsd:sequence>
          <xsd:element name="Transaction" type="tns:TransactionDetailsByMdn" maxOccurs="unbounded" minOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TransactionDetailsByMdn">
        <xsd:sequence>
          <xsd:element name="TransactionId" type="xsd:string" maxOccurs="1" minOccurs="1"/>
          <xsd:element name="Timestamp" type="xsd:string" maxOccurs="1" minOccurs="1"/>
          <xsd:element name="From" type="xsd:string" maxOccurs="1" minOccurs="1"/>
          <xsd:element name="To" type="xsd:string" maxOccurs="1" minOccurs="1"/>
          <xsd:element name="Type" type="xsd:string" maxOccurs="1" minOccurs="1"/>
          <xsd:element name="Status" type="xsd:string" maxOccurs="1" minOccurs="1"/>
          <xsd:element name="Details" type="xsd:string" maxOccurs="1" minOccurs="1"/>
          <xsd:element name="FeNode" type="xsd:string" maxOccurs="1" minOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="CloseMonitoringSession">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SessionId" type="xsd:string" maxOccurs="1" minOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CloseMonitoringSessionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ReturnCode" type="xsd:int" maxOccurs="1" minOccurs="1"/>
            <xsd:element name="ErrorText" type="xsd:string" maxOccurs="1" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetHistoryTransactions">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Mdn" type="xsd:string" maxOccurs="1" minOccurs="0"/>
	    <xsd:element name="Imsi" type="xsd:string" maxOccurs="1" minOccurs="0"/>
		 <xsd:element name="UniqueID" type="xsd:string" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="StartTime" type="xsd:dateTime" maxOccurs="1" minOccurs="1"/>
            <xsd:element name="EndTime" type="xsd:dateTime" maxOccurs="1" minOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetHistoryTransactionsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ReturnCode" type="xsd:int" maxOccurs="1" minOccurs="1"/>
            <xsd:element name="ErrorText" type="xsd:string" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="Transactions" type="tns:TransactionByMdn" maxOccurs="1" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetActiveServicesRequest">
    <wsdl:part element="tns:GetActiveServices" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetActiveServicesResponse">
    <wsdl:part element="tns:GetActiveServicesResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CreateMonitoringSessionRequest">
    <wsdl:part element="tns:CreateMonitoringSession" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CreateMonitoringSessionResponse">
    <wsdl:part element="tns:CreateMonitoringSessionResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetMonitoringSessionTransactionsRequest">
    <wsdl:part element="tns:GetMonitoringSessionTransactions" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetMonitoringSessionTransactionsResponse">
    <wsdl:part element="tns:GetMonitoringSessionTransactionsResponse" name="parameters"/>
  </wsdl:message>        
  <wsdl:message name="CloseMonitoringSessionRequest">
    <wsdl:part element="tns:CloseMonitoringSession" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CloseMonitoringSessionResponse">
    <wsdl:part element="tns:CloseMonitoringSessionResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetHistoryTransactionsRequest">
    <wsdl:part element="tns:GetHistoryTransactions" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetHistoryTransactionsResponse">
    <wsdl:part element="tns:GetHistoryTransactionsResponse" name="parameters"/>
  </wsdl:message>
   <wsdl:portType name="NrbTool2IumInterfacePort">
    <wsdl:operation name="GetActiveServices">
      <wsdl:input message="tns:GetActiveServicesRequest"/>
      <wsdl:output message="tns:GetActiveServicesResponse"/>
    </wsdl:operation>
    <wsdl:operation name="CreateMonitoringSession">
      <wsdl:input message="tns:CreateMonitoringSessionRequest"/>
      <wsdl:output message="tns:CreateMonitoringSessionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetMonitoringSessionTransactions">
      <wsdl:input message="tns:GetMonitoringSessionTransactionsRequest"/>
      <wsdl:output message="tns:GetMonitoringSessionTransactionsResponse"/>
    </wsdl:operation>                
    <wsdl:operation name="CloseMonitoringSession">
      <wsdl:input message="tns:CloseMonitoringSessionRequest"/>
      <wsdl:output message="tns:CloseMonitoringSessionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetHistoryTransactions">
      <wsdl:input message="tns:GetHistoryTransactionsRequest"/>
      <wsdl:output message="tns:GetHistoryTransactionsResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NrbTool2IumInterfaceBinding" type="tns:NrbTool2IumInterfacePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetActiveServices">
      <soap:operation soapAction="http://www.hp.com/deg/NrbTool2IumInterface/GetActiveServices"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMonitoringSession">
      <soap:operation soapAction="http://www.hp.com/deg/NrbTool2IumInterface/CreateMonitoringSession"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMonitoringSessionTransactions">
      <soap:operation soapAction="http://www.hp.com/deg/NrbTool2IumInterface/GetMonitoringSessionTransactions"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>            
    <wsdl:operation name="CloseMonitoringSession">
      <soap:operation soapAction="http://www.hp.com/deg/NrbTool2IumInterface/CloseMonitoringSession"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoryTransactions">
      <soap:operation soapAction="http://www.hp.com/deg/NrbTool2IumInterface/GetHistoryTransactions"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NrbTool2IumInterfaceService">
    <wsdl:port binding="tns:NrbTool2IumInterfaceBinding" name="NrbTool2IumInterface">
      <soap:address location="http://localhost:17080/ium-NrbTool2IumInterface/servlet/IUMServlet"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
