deployment/deg/opt/deg/IUM/flatfiles/eSIMProvisioningInterface/soap/eSIMProvisioningInterface.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:tns="http://www.hp.com/deg/DEG_eSIMProvisioningInterface/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  name="DEG_eSIMProvisioningInterface" 
  targetNamespace="http://www.hp.com/deg/DEG_eSIMProvisioningInterface/">

  <wsdl:types>
    <xsd:schema targetNamespace="http://www.hp.com/deg/DEG_eSIMProvisioningInterface/">
      
	  <xsd:element name="eSIMCreateInfo">
        <xsd:complexType>
          <xsd:sequence maxOccurs="1">
            <xsd:element name="IMSI" type="xsd:string" maxOccurs="1" minOccurs="1"/>
            <xsd:element name="EID" type="xsd:string" maxOccurs="1" minOccurs="1"/>
            <xsd:element name="eICCID" type="xsd:string" maxOccurs="1" minOccurs="1"/>
            <xsd:element name="DeviceType" type="xsd:string" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="Status" type="xsd:string" maxOccurs="1" minOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="eSIMCreateInfoResponse">
        <xsd:complexType>
          <xsd:sequence maxOccurs="1">
            <xsd:element name="Response" type="tns:eSIMResponseInfo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="eSIMUpdateInfo">
        <xsd:complexType>
          <xsd:sequence maxOccurs="1">
            <xsd:element name="IMSI" type="xsd:string" maxOccurs="1" minOccurs="1"/>
            <xsd:element name="EID" type="xsd:string" maxOccurs="1" minOccurs="1"/>
            <xsd:element name="eICCID" type="xsd:string" maxOccurs="1" minOccurs="1"/>
            <xsd:element name="DeviceType" type="xsd:string" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="Status" type="xsd:string" maxOccurs="1" minOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="eSIMUpdateInfoResponse">
        <xsd:complexType>
          <xsd:sequence maxOccurs="1">
            <xsd:element name="Response" type="tns:eSIMResponseInfo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="eSIMDeleteInfo">
          <xsd:complexType>
            <xsd:sequence maxOccurs="1">
              <xsd:element name="IMSI" type="xsd:string" maxOccurs="1" minOccurs="1"/>
              <xsd:element name="EID" type="xsd:string" maxOccurs="1" minOccurs="1"/>
              <xsd:element name="eICCID" type="xsd:string" maxOccurs="1" minOccurs="1"/>
            </xsd:sequence>
          </xsd:complexType>
      </xsd:element>

      <xsd:element name="eSIMDeleteInfoResponse">
        <xsd:complexType>
          <xsd:sequence maxOccurs="1">
            <xsd:element name="Response" type="tns:eSIMResponseInfo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:complexType name="eSIMResponseInfo">
        <xsd:sequence maxOccurs="1">
          <xsd:element name="StatusCode" type="xsd:string" maxOccurs="1" minOccurs="1"/>
          <xsd:element name="ErrorCode" type="xsd:string" maxOccurs="1" minOccurs="0"/>
          <xsd:element name="Description" type="xsd:string" maxOccurs="1" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="eSIMCreateInfoRequest">
    <wsdl:part element="tns:eSIMCreateInfo" name="eSIMCreateInfoRequest"/>
  </wsdl:message>

  <wsdl:message name="eSIMCreateInfoResponse">
    <wsdl:part element="tns:eSIMCreateInfoResponse" name="eSIMCreateInfoResponse"/>
  </wsdl:message>

  <wsdl:message name="eSIMUpdateInfoRequest">
    <wsdl:part element="tns:eSIMUpdateInfo" name="eSIMUpdateInfoRequest"/>
  </wsdl:message>

  <wsdl:message name="eSIMUpdateInfoResponse">
    <wsdl:part element="tns:eSIMUpdateInfoResponse" name="eSIMUpdateInfoResponse"/>
  </wsdl:message>

  <wsdl:message name="eSIMDeleteInfoRequest">
    <wsdl:part element="tns:eSIMDeleteInfo" name="eSIMDeleteInfoRequest"/>
  </wsdl:message>

  <wsdl:message name="eSIMDeleteInfoResponse">
    <wsdl:part element="tns:eSIMDeleteInfoResponse" name="eSIMDeleteInfoResponse"/>
  </wsdl:message>

  <wsdl:portType name="DEG_eSIMProvisioningInterface">
    <wsdl:operation name="eSIMCreateInfo">
      <wsdl:input message="tns:eSIMCreateInfoRequest"/>
      <wsdl:output message="tns:eSIMCreateInfoResponse"/>
    </wsdl:operation>

    <wsdl:operation name="eSIMUpdateInfo">
      <wsdl:input message="tns:eSIMUpdateInfoRequest"/>
      <wsdl:output message="tns:eSIMUpdateInfoResponse"/>
    </wsdl:operation>

    <wsdl:operation name="eSIMDeleteInfo">
      <wsdl:input message="tns:eSIMDeleteInfoRequest"/>
      <wsdl:output message="tns:eSIMDeleteInfoResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="DEG_eSIMProvisioningInterfaceSOAP" type="tns:DEG_eSIMProvisioningInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="eSIMCreateInfo">
      <soap:operation soapAction="http://www.hp.com/deg/DEG_eSIMProvisioningInterface/eSIMCreateInfo"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="eSIMUpdateInfo">
      <soap:operation soapAction="http://www.hp.com/deg/DEG_eSIMProvisioningInterface/eSIMUpdateInfo"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="eSIMDeleteInfo">
      <soap:operation soapAction="http://www.hp.com/deg/DEG_eSIMProvisioningInterface/eSIMDeleteInfo"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="DEG_eSIMProvisioningInterface">
    <wsdl:port binding="tns:DEG_eSIMProvisioningInterfaceSOAP" name="DEG_eSIMProvisioningInterfaceSOAP">
      <soap:address location="http://www.hp.com/deg"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>