deployment/deg/app/IUM/flatfiles/APNSInterface/soap/APNSInterface.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.hp.com/deg/DEG_CarrierAPNSInterface/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DEG_CarrierAPNSInterface" targetNamespace="http://www.hp.com/deg/DEG_CarrierAPNSInterface/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.hp.com/deg/DEG_CarrierAPNSInterface/">
      <xsd:element name="ManageCarrier">
        <xsd:complexType>
          <xsd:sequence maxOccurs="1">
          	<xsd:element name="MDN" type="xsd:string" maxOccurs="1" minOccurs="1" />
          	<xsd:element name="IMSI" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
          	<xsd:element name="APNSTopic" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
          	<xsd:element name="TriggerType" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="ManageCarrierResponse">
        <xsd:complexType>
          <xsd:sequence maxOccurs="1">
          	<xsd:element name="Response" type="tns:DefaultResponseType"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
             
      <xsd:complexType name="DefaultResponseType">
        <xsd:sequence maxOccurs="1">
          	<xsd:element name="StatusCode" type="xsd:string" />
          	<xsd:element name="ErrorCode" type="xsd:string"></xsd:element>
          	<xsd:element name="ErrorDescription" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
     
  </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="ManageCarrierRequest">
    <wsdl:part element="tns:ManageCarrier" name="ManageCarrierRequest"/>
  </wsdl:message>
  <wsdl:message name="ManageCarrierResponse">
    <wsdl:part element="tns:ManageCarrierResponse" name="ManageCarrierResponse"/>
  </wsdl:message>
 
  <wsdl:portType name="DEG_CarrierAPNSInterface">
    <wsdl:operation name="ManageCarrier">
      <wsdl:input message="tns:ManageCarrierRequest"/>
      <wsdl:output message="tns:ManageCarrierResponse"/>
    </wsdl:operation>
             
  </wsdl:portType>
  
  <wsdl:binding name="DEG_APNSInterfaceSOAP" type="tns:DEG_CarrierAPNSInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ManageCarrier">
      <soap:operation soapAction="http://www.hp.com/deg/DEG_CarrierAPNSInterface/ManageCarrier"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
  </wsdl:binding>
  
  <wsdl:service name="DEG_CarrierAPNSInterface">
    <wsdl:port binding="tns:DEG_APNSInterfaceSOAP" name="DEG_APNSInterfaceSOAP">
      <soap:address location="http://www.hp.com/deg"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>
