deployment/deg/var/SIU_DEGXX/DEG_DeviceInterface_XX/repository/datamodel/nme/radius/RadiusSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.hp.com/usage/nme/nmeschema/radius"
	xmlns:nme="http://www.hp.com/usage/nme/nmeschema" xmlns:tns="http://www.hp.com/usage/nme/nmeschema/radius"
        xmlns:eap="http://www.hp.com/usage/nme/nmeschema/eap" 
	xmlns="http://www.w3.org/2001/XMLSchema">

	<!-- begin import used namaspaces -->
	<import namespace="http://www.hp.com/usage/nme/nmeschema" />
        <import namespace="http://www.hp.com/usage/nme/nmeschema/eap" schemaLocation="eap.xsd" /> 
	<!-- end import used namaspaces -->
	
	<complexType name="Umbrella">
		<sequence>
	    <element name="DeviceRadiusMessage" type="tns:RadiusMessage" minOccurs="1"/>
            <element name="AAARadiusMessage" type="tns:RadiusMessage" minOccurs="0"/>
            <element name="specifier" type="nme:string" minOccurs="0"/>
		</sequence>
		 </complexType>
		


	<complexType name="RadiusMessage">
		<sequence>
		    <element name="request" type="tns:RadiusRequest" />
		    <element name="answer" type="tns:RadiusAnswer" />
		    <element name="isAnswer" type="nme:boolean" />
		</sequence>
	    </complexType>
	    
	     
     <complexType name="RadiusRequest">
        <sequence>
            <element name="accessRequest" type="tns:AccessRequest" />
            <element name="accountingRequest" type="tns:AccountingRequest" />
            <element name="requestType" type="nme:int" />
        </sequence>
    </complexType>
    
    <complexType name="RadiusAnswer">
        <sequence>
            <element name="accessAccept" type="tns:AccessAccept" />
            <element name="accessReject" type="tns:AccessReject" />
            <element name="accessChallenge" type="tns:AccessChallenge" />
            <element name="accountingResponse" type="tns:AccountingResponse" />
            <element name="answerType" type="nme:int" />
        </sequence>
    </complexType>

	<complexType name="AccessAccept">
		<sequence>
			<element name="SrcHost" type="nme:string" minOccurs="0"
				maxOccurs="1" />
			<element name="SrcPort" type="nme:int" minOccurs="0" maxOccurs="1" />
			<element name="DestHost" type="nme:string" minOccurs="0"
				maxOccurs="1" />
			<element name="DestPort" type="nme:int" minOccurs="0" maxOccurs="1" />
			<element name="SharedSecret" type="nme:byte-array" minOccurs="0"
				maxOccurs="1" />
			<element name="action" type="nme:int" />
			<element name="code" type="nme:byte" />
			<element name="id" type="nme:byte" />
			<element name="length" type="nme:int" />
			<element name="ReTransmitted" type="nme:boolean" />
			<element name="authenticator" type="nme:byte-array" />
			<element name="time" type="nme:long" />

			<element name="UserName" type="nme:string" />
			<element name="ServiceType" type="nme:long" />
			<element name="FramedProtocol" type="nme:long" />
			<element name="FramedIPAddress" type="nme:int" />
			<element name="FramedIPNetmask" type="nme:int" />
			<element name="FramedRouting" type="nme:long" />
			<element name="FilterIds">
				<complexType>
					<sequence>
						<element type="tns:FilterId" name="value" maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			<element name="FramedMTU" type="nme:long" />
			<element name="FramedCompressions">
				<complexType>
					<sequence>
						<element type="tns:FramedCompression" name="value"
							maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			<element name="LoginIPHosts">
				<complexType>
					<sequence>
						<element type="tns:LoginIPHost" name="value" maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			<!-- <element name="LoginIPHost" type="nme:int" /> -->
			<element name="LoginService" type="nme:long" />
			<element name="LoginTCPPort" type="nme:long" />

			<element name="ReplyMessages">
				<complexType>
					<sequence>
						<element type="tns:ReplyMessage" name="value" maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			<element name="CallbackNumber" type="nme:byte-array" />
			<element name="CallbackId" type="nme:byte-array" />
			<element name="FramedRoutes">
				<complexType>
					<sequence>
						<element type="tns:FramedRoute" name="value" maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			<!-- <element name="FramedRoute" type="nme:string" /> -->
			<element name="FramedIPXNetwork" type="nme:byte-array" />
			<element name="State" type="nme:byte-array" />
			<element name="RadiusClasses">
				<complexType>
					<sequence>
						<element type="tns:RadiusClass" name="value" maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			<!-- <element name="RadiusClass" type="nme:byte-array" /> -->
			<element name="SessionTimeout" type="nme:long" />
			<element name="IdleTimeout" type="nme:long" />
			<element name="TerminationAction" type="nme:long" />
			<element name="LoginLATService" type="nme:byte-array" />
			<element name="LoginLATNode" type="nme:byte-array" />
			<element name="LoginLATGroup" type="nme:byte-array" />
			<element name="FramedAppleTalkLink" type="nme:long" />
			<!-- element name="FramedAppleTalkNetwork" type="nme:long" / -->
			<element name="FramedAppleTalkNetworks">
                <complexType>
                    <sequence>
                        <element type="tns:FramedAppleTalkNetwork" name="value"
                            maxOccurs="unbounded" />
                    </sequence>
                </complexType>
            </element>
			<element name="FramedAppleTalkZone" type="nme:byte-array" />
			<element name="PortLimit" type="nme:long" />
			<element name="LoginLATPort" type="nme:byte-array" />
			<element name="MessageAuthenticator" type="nme:byte-array" />
			<element name="EAPMessage" type="nme:byte-array" />
			<element name="ProxyStates">
				<complexType>
					<sequence>
						<element type="tns:ProxyState" name="value" maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>

			<element name="FramedInterfaceId" type="nme:byte-array"
				minOccurs="0" />
			<!-- element name="FramedIPv6Prefix" type="nme:byte-array" minOccurs="0" 
				maxOccurs="unbounded"/ -->
			<!-- element name="LoginIPv6Host" type="nme:byte-array" minOccurs="0" 
				maxOccurs="unbounded"/ -->
			<!-- element name="FramedIPv6Route" type="nme:string" minOccurs="0" maxOccurs="unbounded"/ -->
			<element name="FramedIPv6Prefixes">
				<complexType>
					<sequence>
						<element type="tns:FramedIPv6Prefix" name="value"
							maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			<element name="LoginIPv6Hosts">
				<complexType>
					<sequence>
						<element type="tns:LoginIPv6Host" name="value" maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			<element name="FramedIPv6Routes">
				<complexType>
					<sequence>
						<element type="tns:FramedIPv6Route" name="value"
							maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			<element name="FramedIPv6Pool" type="nme:byte-array"
				minOccurs="0" />
			<!-- Example VSA element definition  -->
			<element name="VendorSpecific" type="tns:CiscoVendorSpecific"
                minOccurs="0" />
            <element name="MSISDN" type="nme:string" />
		</sequence>
	</complexType>
	<complexType name="AccessChallenge">
		<sequence>
                        <element name="eapData" type="eap:eap" /> 
			<element name="SrcHost" type="nme:string" minOccurs="0"
				maxOccurs="1" />
			<element name="SrcPort" type="nme:int" minOccurs="0" maxOccurs="1" />
			<element name="DestHost" type="nme:string" minOccurs="0"
				maxOccurs="1" />
			<element name="DestPort" type="nme:int" minOccurs="0" maxOccurs="1" />
			<element name="SharedSecret" type="nme:byte-array" minOccurs="0"
				maxOccurs="1" />
			<element name="action" type="nme:int" />				
			<element name="code" type="nme:byte" />
			<element name="id" type="nme:byte" />
			<element name="length" type="nme:int" />
			<element name="authenticator" type="nme:byte-array" />
			<element name="ReTransmitted" type="nme:boolean" />
			<element name="time" type="nme:long" />
			<!-- <element name="ReplyMessage" type="nme:string" /> -->
			<!-- Radius AVPs ! -->

			<element name="ReplyMessages">
				<complexType>
					<sequence>
						<element type="tns:ReplyMessage" name="value" maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			<element name="State" type="nme:byte-array" />
			<element name="SessionTimeout" type="nme:long" />
			<element name="IdleTimeout" type="nme:long" />
			<element name="MessageAuthenticator" type="nme:byte-array" />
			<element name="EAPMessage" type="nme:byte-array" />
			<element name="ProxyStates">
				<complexType>
					<sequence>
						<element type="tns:ProxyState" name="value" maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
            <!-- Example VSA element definition  -->
            <element name="VendorSpecific" type="tns:CiscoVendorSpecific"
                minOccurs="0" />			
		</sequence>
	</complexType>

	<complexType name="AccessReject">
		<sequence>
			<element name="SrcHost" type="nme:string" minOccurs="0"
				maxOccurs="1" />
			<element name="SrcPort" type="nme:int" minOccurs="0" maxOccurs="1" />
			<element name="DestHost" type="nme:string" minOccurs="0"
				maxOccurs="1" />
			<element name="DestPort" type="nme:int" minOccurs="0" maxOccurs="1" />
			<element name="SharedSecret" type="nme:byte-array" minOccurs="0"
				maxOccurs="1" />
			<element name="action" type="nme:int" />				
			<element name="code" type="nme:byte" />
			<element name="id" type="nme:byte" />
			<element name="length" type="nme:int" />
			<element name="authenticator" type="nme:byte-array" />
			<element name="ReTransmitted" type="nme:boolean" />
			<element name="time" type="nme:long" />
			<!-- <element name="ReplyMessage" type="nme:string" /> -->
			<!-- Radius AVPs ! -->
			<element name="ReplyMessages">
				<complexType>
					<sequence>
						<element type="tns:ReplyMessage" name="value" maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			<element name="MessageAuthenticator" type="nme:byte-array" />
			<element name="EAPMessage" type="nme:byte-array" />
			<element name="ProxyStates">
				<complexType>
					<sequence>
						<element type="tns:ProxyState" name="value" maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<complexType name="AccessRequest">
		<sequence>
			<element name="RetryLimit" type="nme:int" minOccurs="0"
				maxOccurs="1" />
			<element name="RetryCount" type="nme:int" minOccurs="0"
				maxOccurs="1" />
			<element name="SrcHost" type="nme:string" minOccurs="0"
				maxOccurs="1" />
			<element name="SrcPort" type="nme:int" minOccurs="0" maxOccurs="1" />
			<element name="DestHost" type="nme:string" minOccurs="0"
				maxOccurs="1" />
			<element name="DestPort" type="nme:int" minOccurs="0" maxOccurs="1" />			
			<element name="SharedSecret" type="nme:byte-array" minOccurs="0"
				maxOccurs="1" />
			<element name="action" type="nme:int" />				
			<element name="code" type="nme:byte" />
			<element name="id" type="nme:byte" />
			<element name="authenticator" type="nme:byte-array" />
			<element name="ReTransmitted" type="nme:boolean" />
			<element name="length" type="nme:int" />
			<element name="time" type="nme:long" />
			<!-- Radius AVPs ! -->
			<element name="UserName" type="nme:string" minOccurs="0" />
			<element name="UserPassword" type="nme:byte-array" minOccurs="0" />
			<element name="CHAPPassword" type="nme:byte-array" minOccurs="0" />
			<element name="NASIPAddress" type="nme:int" minOccurs="0" />
			<element name="NASPort" type="nme:long" minOccurs="0" />
			<element name="ServiceType" type="nme:long" minOccurs="0" />
			<element name="FramedProtocol" type="nme:long" minOccurs="0" />
			<element name="FramedIPAddress" type="nme:int" minOccurs="0" />
			<element name="FramedIPNetmask" type="nme:int" minOccurs="0" />
			<element name="FramedMTU" type="nme:long" minOccurs="0" />
			<element name="FramedCompressions">
				<complexType>
					<sequence>
						<element type="tns:FramedCompression" name="value"
							maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			<element name="LoginIPHosts">
				<complexType>
					<sequence>
						<element type="tns:LoginIPHost" name="value" maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			<!-- <element name="LoginIPHost" type="nme:int" /> -->
			<element name="CallbackNumber" type="nme:byte-array"
				minOccurs="0" />
			<element name="State" type="nme:byte-array" minOccurs="0" />
			<element name="AcctSessionId" type="nme:string" minOccurs="0" />
			<element name="CalledStationId" type="nme:byte-array"
				minOccurs="0" />
			<element name="CallingStationId" type="nme:byte-array"
				minOccurs="0" />
			<element name="NASIdentifier" type="nme:byte-array"
				minOccurs="0" />
			<element name="LoginLATService" type="nme:byte-array"
				minOccurs="0" />
			<element name="LoginLATNode" type="nme:byte-array" minOccurs="0" />
			<element name="LoginLATGroup" type="nme:byte-array" />
			<element name="CHAPChallenge" type="nme:byte-array" />
			<element name="NASPortType" type="nme:long" minOccurs="0" />
			<element name="PortLimit" type="nme:long" />
			<element name="LoginLATPort" type="nme:byte-array" />
			<element name="MessageAuthenticator" type="nme:byte-array" />
			<element name="EAPMessage" type="nme:byte-array" />
			         <!-- Example VSA element definition  -->
            <element name="VendorSpecific" type="tns:CiscoVendorSpecific"
                minOccurs="0" />
			<element name="ProxyStates">
				<complexType>
					<sequence>
						<element type="tns:ProxyState" name="value" maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			<element name="NASIPv6Address" type="nme:byte-array"
				minOccurs="0" />
			<element name="FramedInterfaceId" type="nme:byte-array"
				minOccurs="0" />
			<!-- element name="FramedIPv6Prefix" type="nme:byte-array" minOccurs="0" 
				maxOccurs="unbounded"/ -->
			<!-- element name="LoginIPv6Host" type="nme:byte-array" minOccurs="0" 
				maxOccurs="unbounded"/ -->
			<element name="FramedIPv6Prefixes">
				<complexType>
					<sequence>
						<element type="tns:FramedIPv6Prefix" name="value"
							maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			<element name="LoginIPv6Hosts">
				<complexType>
					<sequence>
						<element type="tns:LoginIPv6Host" name="value" maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<complexType name="CiscoVendorSpecific">
        <sequence>
            <element name="CiscoAvpair" type="nme:string" />
            <element name="CiscoNASPort" type="nme:string" />
            <element name="CiscoFaxAccountIDOrigin" type="nme:string" />
            <element name="CiscoFaxMessageID" type="nme:string" />
            <element name="CiscoFaxPages" type="nme:string" />
            <element name="CiscoFaxCoverPageFlag" type="nme:string" />
            <element name="CiscoFaxModemTime" type="nme:string" />
            <element name="CiscoFaxConnectSpeed" type="nme:string" />
            <element name="CiscoFaxRecipientCount" type="nme:string" />
            <element name="CiscoFaxProcessAbortFlag" type="nme:string" />
            <element name="CiscoFaxDSNAddress" type="nme:string" />
            <element name="CiscoFaxDSNFlag" type="nme:string" />
            <element name="CiscoFaxMDNAddress" type="nme:string" />
            <element name="CiscoFaxMDNFlag" type="nme:string" />
            <element name="CiscoFaxAuthStatus" type="nme:string" />
            <element name="CiscoEmailServerAddress" type="nme:string" />
            <element name="CiscoEmailServerACKFlag" type="nme:string" />
            <element name="CiscoGatewayID" type="nme:string" />
            <element name="CiscoCallType" type="nme:string" />
            <element name="CiscoPortUsed" type="nme:string" />
            <element name="CiscoAbortCause" type="nme:string" />
            <element name="CiscoCRSInfo" type="nme:string" />
            <element name="CiscoH323RemoteAddress" type="nme:string" />
            <element name="CiscoH323ConfId" type="nme:string" />
            <element name="CiscoH323SetupTime" type="nme:string" />
            <element name="CiscoH323CallOrigin" type="nme:string" />
            <element name="CiscoH323CallType" type="nme:string" />
            <element name="CiscoH323ConnectTime" type="nme:string" />
            <element name="CiscoH323DisconnectTime" type="nme:string" />
            <element name="CiscoH323DisconnectCause" type="nme:string" />
            <element name="CiscoH323VoiceQuality" type="nme:string" />
            <element name="CiscoH323IvrOut" type="nme:string" />
            <element name="CiscoH323GwId" type="nme:string" />
            <element name="CiscoH323CallTreatment" type="nme:string" />
            <element name="CiscoH323IncomingConnectionID" type="nme:string" />
            <element name="CiscoH323IvrIn" type="nme:string" />
            <element name="CiscoH323CreditAmount" type="nme:string" />
            <element name="CiscoH323CreditTime" type="nme:string" />
            <element name="CiscoH323ReturnCode" type="nme:string" />
            <element name="CiscoH323PromptId" type="nme:string" />
            <element name="CiscoH323TimeAndDay" type="nme:string" />
            <element name="CiscoH323RedirectNumber" type="nme:string" />
            <element name="CiscoH323PreferredLang" type="nme:string" />
            <element name="CiscoH323RedirectIpAddr" type="nme:string" />
            <element name="CiscoH323BillingModel" type="nme:string" />
            <element name="CiscoH323CurrencyType" type="nme:string" />
            <element name="CiscoUCPIPPoolID" type="nme:string" />
            <element name="CiscoUCPUserMaxSessions" type="nme:string" />
            <element name="CiscoUCPUserSessionCount" type="nme:string" />
            <element name="CiscoUCPNextSessionID" type="nme:string" />
            <element name="CiscoUCPVPDNMaxSessions" type="nme:string" />
            <element name="CiscoUCPVPDNSessionCount" type="nme:string" />
            <element name="CiscoUCPBChannelMaxSessions" type="nme:string" />
            <element name="CiscoUCPBChannelSessionCount" type="nme:string" />
            <element name="CiscoUCPStatus" type="nme:string" />
            <element name="CiscoUCPBLOBAttributeLength" type="nme:string" />
            <element name="CiscoUCPDisableStatus" type="nme:string" />
            <element name="CiscoUCPBlockAccessRange" type="nme:string" />
            <element name="CiscoUCPHomePOPID" type="nme:string" />
            <element name="CiscoUCPIPAddresses" type="nme:string" />
            <element name="CiscoUCPSessionInfo" type="nme:string" />
            <element name="CiscoAscendAVpairs" type="nme:string" />
            <element name="CiscoSSGAccountInfo" type="nme:string" />
            <element name="CiscoSSGServiceInfo" type="nme:string" />
            <element name="CiscoSSGCommandCode" type="nme:string" />
            <element name="CiscoSSGControlInfo" type="nme:string" />
        </sequence>
    </complexType>

	<complexType name="AccountingRequest">
		<sequence>
			<element name="RetryLimit" type="nme:int" minOccurs="0"
				maxOccurs="1" />
			<element name="RetryCount" type="nme:int" minOccurs="0"
				maxOccurs="1" />
			<element name="SrcHost" type="nme:string" minOccurs="0"
				maxOccurs="1" />
			<element name="SrcPort" type="nme:int" minOccurs="0" maxOccurs="1" />
			<element name="DestHost" type="nme:string" minOccurs="0"
				maxOccurs="1" />
			<element name="DestPort" type="nme:int" minOccurs="0" maxOccurs="1" />			
			<element name="SharedSecret" type="nme:byte-array" minOccurs="0"
				maxOccurs="1" />
			<element name="action" type="nme:int" />				
			<element name="code" type="nme:byte" />
			<element name="id" type="nme:byte" />
			<element name="authenticator" type="nme:byte-array" />
			<element name="length" type="nme:int" />
			<!-- element name="State" type="nme:byte-array" /-->
			<element name="ReTransmitted" type="nme:boolean" />
			<element name="time" type="nme:long" />

			<!-- Radius AVPs ! -->
			<element name="UserName" type="nme:string" minOccurs="0"
				maxOccurs="1" />
			<element name="NASIPAddress" type="nme:int" minOccurs="0"
				maxOccurs="1" />
			<element name="NASPort" type="nme:long" minOccurs="0"
				maxOccurs="1" />
			<element name="ServiceType" type="nme:long" minOccurs="0"
				maxOccurs="1" />
			<element name="FramedProtocol" type="nme:long" minOccurs="0"
				maxOccurs="1" />
			<element name="FramedIPAddress" type="nme:int" minOccurs="0"
				maxOccurs="1" />
			<element name="FramedIPNetmask" type="nme:int" minOccurs="0"
				maxOccurs="1" />
			<element name="FramedRouting" type="nme:long" minOccurs="0"
				maxOccurs="1" />

			<element name="FilterIds">
				<complexType>
					<sequence>
						<element type="tns:FilterId" name="value" maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			<element name="FramedMTU" type="nme:long" minOccurs="0"
				maxOccurs="1" />
			<element name="FramedCompressions">
				<complexType>
					<sequence>
						<element type="tns:FramedCompression" name="value"
							maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			<element name="LoginIPHosts">
				<complexType>
					<sequence>
						<element type="tns:LoginIPHost" name="value" maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			<!-- <element name="LoginIPHost" type="nme:int" /> -->
			<element name="LoginService" type="nme:long" minOccurs="0"
				maxOccurs="1" />
			<element name="LoginTCPPort" type="nme:long" minOccurs="0"
				maxOccurs="1" />
			<element name="CallbackNumber" type="nme:byte-array"
				minOccurs="0" maxOccurs="1" />
			<element name="CallbackId" type="nme:byte-array" minOccurs="0"
				maxOccurs="1" />
			<!-- <element name="FramedRoute" type="nme:string" minOccurs="0" /> occurrence 
				is 0+ -->
			<element name="FramedRoutes">
				<complexType>
					<sequence>
						<element type="tns:FramedRoute" name="value" maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			<element name="FramedIPXNetwork" type="nme:byte-array"
				minOccurs="0" maxOccurs="1" />
			<element name="RadiusClasses">
				<complexType>
					<sequence>
						<element type="tns:RadiusClass" name="value" maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			<!-- <element name="RadiusClass" type="nme:byte-array" minOccurs="0" /> 
				occurrence is 0+ -->
			<element name="SessionTimeout" type="nme:long" minOccurs="0"
				maxOccurs="1" />
			<element name="IdleTimeout" type="nme:long" minOccurs="0"
				maxOccurs="1" />
			<element name="TerminationAction" type="nme:long" />
			<element name="CalledStationId" type="nme:byte-array"
				minOccurs="0" maxOccurs="1" />
			<element name="CallingStationId" type="nme:byte-array"
				minOccurs="0" maxOccurs="1" />
			<element name="NASIdentifier" type="nme:byte-array"
				minOccurs="0" maxOccurs="1" />
			<element name="LoginLATService" type="nme:byte-array"
				minOccurs="0" maxOccurs="1" />
			<element name="LoginLATNode" type="nme:byte-array" minOccurs="0"
				maxOccurs="1" />
			<element name="LoginLATGroup" type="nme:byte-array"
				minOccurs="0" maxOccurs="1" />
			<element name="FramedAppleTalkLink" type="nme:long"
				minOccurs="0" maxOccurs="1" />
			<element name="FramedAppleTalkNetwork" type="nme:long"
				minOccurs="0" maxOccurs="1" />
			<element name="FramedAppleTalkZone" type="nme:byte-array"
				minOccurs="0" maxOccurs="1" />
			<element name="AcctStatusType" type="nme:long" minOccurs="1"
				maxOccurs="1" />
			<element name="AcctDelayTime" type="nme:long" minOccurs="0"
				maxOccurs="1" />
			<element name="AcctInputOctets" type="nme:long" minOccurs="0"
				maxOccurs="1" />
			<element name="AcctOutputOctets" type="nme:long" minOccurs="0"
				maxOccurs="1" />
			<element name="AcctSessionId" type="nme:string" minOccurs="0"
				maxOccurs="1" />
			<element name="AcctAuthentic" type="nme:long" minOccurs="0"
				maxOccurs="1" />
			<element name="AcctSessionTime" type="nme:long" minOccurs="0"
				maxOccurs="1" />
			<element name="AcctInputPackets" type="nme:long" minOccurs="0"
				maxOccurs="1" />
			<element name="AcctOutputPackets" type="nme:long" minOccurs="0"
				maxOccurs="1" />
			<element name="AcctTerminateCause" type="nme:long" minOccurs="0"
				maxOccurs="1" />
			<!-- <element name="AcctMultiSessionId" type="nme:byte-array" minOccurs="0" 
				/> occurrence is 0+ -->
			<element name="AcctMultiSessionIds">
				<complexType>
					<sequence>
						<element type="tns:AcctMultiSessionId" name="value"
							maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			<!-- <element name="AcctLinkCount" type="nme:long" minOccurs="0" /> occurrence 
				is 0+ -->
			<element name="AcctLinkCounts">
				<complexType>
					<sequence>
						<element type="tns:AcctLinkCount" name="value" maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			<element name="NASPortType" type="nme:long" minOccurs="0"
				maxOccurs="1" />
			<element name="PortLimit" type="nme:long" minOccurs="0"
				maxOccurs="1" />
			<element name="LoginLATPort" type="nme:byte-array" minOccurs="0"
				maxOccurs="1" />
			<element name="ProxyStates">
				<complexType>
					<sequence>
						<element type="tns:ProxyState" name="value" maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			<element name="NASIPv6Address" type="nme:byte-array"
				minOccurs="0" />
			<element name="FramedInterfaceId" type="nme:byte-array"
				minOccurs="0" />
			<!-- element name="FramedIPv6Prefix" type="nme:byte-array" minOccurs="0" 
				maxOccurs="unbounded"/ -->
			<!-- element name="LoginIPv6Host" type="nme:byte-array" minOccurs="0" 
				maxOccurs="unbounded"/ -->
			<!-- element name="FramedIPv6Route" type="nme:string" minOccurs="0" maxOccurs="unbounded"/ -->
			<element name="FramedIPv6Prefixes">
				<complexType>
					<sequence>
						<element type="tns:FramedIPv6Prefix" name="value"
							maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			<element name="LoginIPv6Hosts">
				<complexType>
					<sequence>
						<element type="tns:LoginIPv6Host" name="value" maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			<element name="FramedIPv6Routes">
				<complexType>
					<sequence>
						<element type="tns:FramedIPv6Route" name="value"
							maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			<element name="FramedIPv6Pool" type="nme:byte-array"
				minOccurs="0" />
            <!-- Example VSA element definition  -->
            <element name="VendorSpecific" type="tns:CiscoVendorSpecific"
                minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="AccountingResponse">
		<sequence>
			<element name="SrcHost" type="nme:string" minOccurs="0"
				maxOccurs="1" />
			<element name="SrcPort" type="nme:int" minOccurs="0" maxOccurs="1" />
			<element name="DestHost" type="nme:string" minOccurs="0"
				maxOccurs="1" />
			<element name="DestPort" type="nme:int" minOccurs="0" maxOccurs="1" />			
			<element name="SharedSecret" type="nme:byte-array" minOccurs="0"
				maxOccurs="1" />
			<element name="action" type="nme:int" />				
			<element name="code" type="nme:byte" />
			<element name="id" type="nme:byte" />
			<element name="authenticator" type="nme:byte-array" />
			<element name="length" type="nme:int" />
			<!-- element name="State" type="nme:byte-array" /-->
			<element name="ReTransmitted" type="nme:boolean" />
			<element name="time" type="nme:long" />

			<!-- Radius AVPs ! -->
			<element name="ProxyStates">
				<complexType>
					<sequence>
						<element type="tns:ProxyState" name="value" maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
            <!-- Example VSA element definition  -->
            <element name="VendorSpecific" type="tns:CiscoVendorSpecific"
                minOccurs="0" />
			<!-- element name="AcctSessionId" type="nme:string" minOccurs="0" maxOccurs="1" 
				/ -->
			<!-- element name="AcctStatusType" type="nme:long" minOccurs="1" maxOccurs="1" 
				/ -->
		</sequence>
	</complexType>

	<complexType name="ProxyState">
		<sequence>
			<element name="value" type="nme:byte-array" />
		</sequence>
	</complexType>
	<complexType name="FilterId">
		<sequence>
			<element name="value" type="nme:string" />
		</sequence>
	</complexType>
	<complexType name="FramedCompression">
		<sequence>
			<element name="value" type="nme:long" />
		</sequence>
	</complexType>
	<complexType name="LoginIPHost">
		<sequence>
			<element name="value" type="nme:int" />
		</sequence>
	</complexType>
	<complexType name="LoginIPv6Host">
		<sequence>
			<element name="value" type="nme:byte-array" />
		</sequence>
	</complexType>
	<complexType name="FramedIPv6Prefix">
		<sequence>
			<element name="value" type="nme:byte-array" />
		</sequence>
	</complexType>
	<complexType name="FramedIPv6Route">
		<sequence>
			<element name="value" type="nme:string" />
		</sequence>
	</complexType>
	<complexType name="ReplyMessage">
		<sequence>
			<element name="value" type="nme:string" />
		</sequence>
	</complexType>
	<complexType name="FramedRoute">
		<sequence>
			<element name="value" type="nme:string" />
		</sequence>
	</complexType>
	<complexType name="RadiusClass">
		<sequence>
			<element name="value" type="nme:byte-array" />
		</sequence>
	</complexType>
	<complexType name="AcctMultiSessionId">
		<sequence>
			<element name="value" type="nme:byte-array" />
		</sequence>
	</complexType>
	<complexType name="AcctLinkCount">
		<sequence>
			<element name="value" type="nme:long" />
		</sequence>
	</complexType>
	<complexType name="FramedAppleTalkNetwork">
        <sequence>
            <element name="value" type="nme:long" />
        </sequence>
    </complexType>
</schema>
