deployment/deg/var/SIU_DEGXX/DEG_DeviceInterface_XX/repository/datamodel/nme/diameter/diameterSWa.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.hp.com/usage/nme/nmeschema/diameterSWa"
    xmlns:this="http://www.hp.com/usage/nme/nmeschema/diameterSWa"
    xmlns:nme="http://www.hp.com/usage/nme/nmeschema">

    <import namespace="http://www.hp.com/usage/nme/nmeschema" />

    <complexType name="DiameterEAPAnswerSWa">
        <sequence>
            <element name="session_id" type="nme:string" />
            <element name="auth_application_id" type="nme:long" />
            <element name="auth_request_type" type="nme:int" />
            <element name="result_Code" type="nme:long" />
            <element name="origin_Host" type="nme:string" />
            <element name="origin_Realm" type="nme:string" />
            <element name="user_Name" type="nme:string" />
            <element name="eap_payload" type="nme:byte-array" />
            <element name="eap_reissued_payload" type="nme:byte-array" />
            <element name="eap_master_session_key" type="nme:byte-array" />
            <element name="eap_key_name" type="nme:byte-array" />
            <element name="Multi_Round_Time_Out" type="nme:long" />
            <element name="acct_eap_auth_method" type="nme:long" />
            <element name="service_type" type="nme:int" />
            <element name="classBytes" type="nme:byte-array" />
            <element name="configuration_token" type="nme:byte-array" />
            <element name="acct_interim_interval" type="nme:long" />
            <element name="error_message" type="nme:string" />
            <element name="error_reporting_host" type="nme:string" />
            <element name="failed_AVP">
                <complexType>
                    <sequence>
                        <element type="this:Failed_avp" name="value" maxOccurs="unbounded" />
                    </sequence>
                </complexType>
            </element>
            <element name="idle_timeout" type="nme:long" />
            <element name="authorization_lifeTime" type="nme:long" />
            <element name="auth_grace_period" type="nme:long" />
            <element name="auth_session_state" type="nme:int" />
            <element name="re_auth_request_type" type="nme:int" />
            <element name="session_timeout" type="nme:long" />
            <element name="state" type="nme:byte-array" />
            <element name="reply_message" type="nme:string" />
            <element name="origin_state_id" type="nme:long" />
            <element name="filter_id" type="nme:string" />
            <element name="port_limit" type="nme:long" />
            <element name="callback_id" type="nme:string" />
            <element name="callback_number" type="nme:string" />
            <element name="framed_appletalk_link" type="nme:long" />
            <element name="framed_appletalk_network" type="nme:long" />
            <element name="framed_appletalk_zone" type="nme:byte-array" />
            <element name="framed_compression" type="nme:int" />
            <element name="framed_interface_id" type="nme:long" />
            <element name="framed_ip_address" type="nme:byte-array" />
            <element name="framed_ipv6_prefix" type="nme:byte-array" />
            <element name="framed_ipv6_pool" type="nme:byte-array" />
            <element name="framed_ipv6_route" type="nme:string" />
            <element name="framed_ipv6_netmask" type="nme:byte-array" />
            <element name="framed_route" type="nme:string" />
            <element name="framed_pool" type="nme:byte-array" />
            <element name="framed_ipx_network" type="nme:string" />
            <element name="framed_MTU" type="nme:long" />
            <element name="framed_protocol" type="nme:int" />
            <element name="framed_routing" type="nme:int" />
            <element name="NAS_filter_rule" type="nme:string" />
            <element name="QoS_filter_rule" type="nme:string" />
            <element name="tunneling">
                <complexType>
                    <sequence>
                        <element type="this:Tunneling" name="value" maxOccurs="unbounded" />
                    </sequence>
                </complexType>
            </element>
            <element name="redirect_host" type="nme:string" />
            <element name="redirect_host_usage" type="nme:int" />
            <element name="redirect_max_cache_time" type="nme:long" />
            <element name="proxy_Info">
                <complexType>
                    <sequence>
                        <element type="this:Proxy_Info" name="value" maxOccurs="unbounded" />
                    </sequence>
                </complexType>
            </element>
            <element name="route_record" type="nme:string" />
            <element name="experimental_result">
                <complexType>
                    <sequence>
                        <element type="this:Experimental_Result" name="value" maxOccurs="unbounded" />
                    </sequence>
                </complexType>
            </element>
            <element name="mobile_node_identifier" type="nme:string" />
            <element name="subscription_Id">
                <complexType>
                    <sequence>
                        <element type="this:Subscription_Id" name="value" maxOccurs="unbounded" />
                    </sequence>
                </complexType>
            </element>
            <element name="RAT_type" type="nme:int" />
            <element name="MIP6_feature_vector" type="nme:long" />
            <element name="SN_Fast_Reauth_Username" type="nme:byte-array" />
            <element name="ambr">
                <complexType>
                    <sequence>
                        <element type="this:AMBR" name="value" maxOccurs="unbounded" />
                    </sequence>
                </complexType>
            </element>
            <element name="APN_configuration">
                <complexType>
                    <sequence>
                        <element type="this:APN_Configuration" name="value" maxOccurs="unbounded" />
                    </sequence>
                </complexType>
            </element>
        </sequence>
    </complexType>

    <complexType name="DiameterEAPRequestSWa">
        <sequence>
            <element name="session_id" type="nme:string" />
            <element name="auth_application_id" type="nme:long" />
            <element name="origin_Host" type="nme:string" />
            <element name="origin_Realm" type="nme:string" />
            <element name="destination_Realm" type="nme:string" />
            <element name="auth_request_type" type="nme:int" />
            <element name="destination_host" type="nme:string" />
            <element name="NAS_identifier" type="nme:string" />
            <element name="NAS_ip_address" type="nme:byte-array" />
            <element name="NAS_ipv6_address" type="nme:byte-array" />
            <element name="NAS_port_id" type="nme:string" />
            <element name="NAS_port_type" type="nme:int" />
            <element name="origin_state_id" type="nme:long" />
            <element name="port_limit" type="nme:long" />
            <element name="user_Name" type="nme:string" />
            <element name="eap_payload" type="nme:byte-array" />
            <element name="eap_key_name" type="nme:byte-array" />
            <element name="service_type" type="nme:int" />
            <element name="state" type="nme:byte-array" />
            <element name="authorization_lifeTime" type="nme:long" />
            <element name="auth_grace_period" type="nme:long" />
            <element name="auth_session_state" type="nme:int" />
            <element name="callback_number" type="nme:string" />
            <element name="called_station_id" type="nme:string" />
            <element name="calling_station_id" type="nme:string" />
            <element name="originating_line_info" type="nme:byte-array" />
            <element name="connect_info" type="nme:string" />
            <element name="framed_compression" type="nme:int" />
            <element name="framed_interface_id" type="nme:long" />
            <element name="framed_ip_address" type="nme:byte-array" />
            <element name="framed_ipv6_prefix" type="nme:byte-array" />
            <element name="framed_ipv6_netmask" type="nme:byte-array" />
            <element name="framed_MTU" type="nme:long" />
            <element name="framed_protocol" type="nme:int" />
            <element name="proxy_Info">
                <complexType>
                    <sequence>
                        <element type="this:Proxy_Info" name="value" maxOccurs="unbounded" />
                    </sequence>
                </complexType>
            </element>
            <element name="route_Record" type="nme:string" />
            <element name="RAT_type" type="nme:int" />
            <element name="MIP6_feature_vector" type="nme:long" />
            <element name="ANID" type="nme:string" />
            <element name="visited_network_identifier" type="nme:byte-array" />
            <element name="terminal_information">
                <complexType>
                    <sequence>
                        <element type="this:Terminal_Information" name="value" maxOccurs="unbounded" />
                    </sequence>
                </complexType>
            </element>
            <element name="failure_indication" type="nme:long" />
            <element name="service_selection" type="nme:string" />
            <element name="UE_local_ip_address" type="nme:byte-array" />
        </sequence>
    </complexType>

    <complexType name="SessionTerminationAnswerSWa">
        <sequence>
            <element name="session_id" type="nme:string" />
            <element name="result_Code" type="nme:long" />
            <element name="origin_Host" type="nme:string" />
            <element name="origin_Realm" type="nme:string" />
            <element name="user_Name" type="nme:string" />
            <element name="classBytes" type="nme:byte-array" />
            <element name="error_message" type="nme:string" />
            <element name="error_reporting_host" type="nme:string" />
            <element name="failed_AVP">
                <complexType>
                    <sequence>
                        <element type="this:Failed_avp" name="value" maxOccurs="unbounded" />
                    </sequence>
                </complexType>
            </element>
            <element name="origin_AAA_protocol" type="nme:int" />
            <element name="origin_state_id" type="nme:long" />
            <element name="redirect_host" type="nme:string" />
            <element name="redirect_host_usage" type="nme:int" />
            <element name="redirect_max_cache_time" type="nme:long" />
            <element name="proxy_Info">
                <complexType>
                    <sequence>
                        <element type="this:Proxy_Info" name="value" maxOccurs="unbounded" />
                    </sequence>
                </complexType>
            </element>
        </sequence>
    </complexType>

    <complexType name="SessionTerminationRequestSWa">
        <sequence>
            <element name="session_id" type="nme:string" />
            <element name="origin_Host" type="nme:string" />
            <element name="origin_Realm" type="nme:string" />
            <element name="destination_Realm" type="nme:string" />
            <element name="auth_application_id" type="nme:long" />
            <element name="termination_cause" type="nme:int" />
            <element name="user_Name" type="nme:string" />
            <element name="destination_host" type="nme:string" />
            <element name="classBytes" type="nme:byte-array" />
            <element name="origin_AAA_protocol" type="nme:int" />
            <element name="origin_State_Id" type="nme:long" />
            <element name="proxy_Info">
                <complexType>
                    <sequence>
                        <element type="this:Proxy_Info" name="value" maxOccurs="unbounded" />
                    </sequence>
                </complexType>
            </element>
            <element name="route_Record" type="nme:string" />
            <element name="eap_payload" type="nme:byte-array" />
        </sequence>
    </complexType>

    <complexType name="Failed_avp">
        <sequence>
            <element name="value" type="nme:string" />
        </sequence>
    </complexType>

    <complexType name="AMBR">
        <sequence>
            <element name="value" type="nme:string" />
        </sequence>
    </complexType>

    <complexType name="APN_Configuration">
        <sequence>
            <element name="value" type="nme:string" />
        </sequence>
    </complexType>

    <complexType name="Tunneling">
        <sequence>
            <element name="tunnel_type" type="nme:int" />
            <element name="tunnel_medium_type" type="nme:int" />
            <element name="tunnel_client_endpoint" type="nme:string" />
            <element name="tunnel_server_endpoint" type="nme:string" />
            <element name="tunnel_preference" type="nme:long" />
            <element name="tunnel_client_auth_id" type="nme:string" />
            <element name="tunnel_server_auth_id" type="nme:string" />
            <element name="tunnel_assignment_id" type="nme:byte-array" />
            <element name="tunnel_password" type="nme:byte-array" />
            <element name="tunnel_private_group_id" type="nme:byte-array" />
        </sequence>
    </complexType>

    <complexType name="Proxy_Info">
        <sequence>
            <element name="proxyHost" type="nme:string" />
            <element name="proxyState" type="nme:byte-array" />
        </sequence>
    </complexType>

    <complexType name="Experimental_Result">
        <sequence>
            <element name="vendor_id" type="nme:long" />
            <element name="experimental_result_code" type="nme:long" />
        </sequence>
    </complexType>

    <complexType name="Subscription_Id">
        <sequence>
            <element name="subscription_Id_Data" type="nme:string" />
            <element name="subscription_Id_Type" type="nme:int" />
        </sequence>
    </complexType>

    <complexType name="Terminal_Information">
        <sequence>
            <element name="IMEI" type="nme:string" />
            <element name="TGPP2_MEID" type="nme:byte-array" />
            <element name="software_version" type="nme:string" />
        </sequence>
    </complexType>
</schema>