templates_tobuild/opt/deg/IUM/flatfiles/DeviceInterface/soap/GetSubscriberDetails/Header.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://xmlns.vodafone.co.uk/map/spml/wsdl/Common/Header"
	 xmlns:head="http://xmlns.vodafone.co.uk/map/spml/wsdl/Common/Header"
	 xmlns:ln="http://xmlns.vodafone.co.uk/map/spml/Common/CommonObjects/Logon"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="unqualified">
	<!-- $Header: /cvs/TIL_CORE/TIL_FW_01/SharedResources/SchemaDefinitions/Vodafone/wsdl/Common/Header.xsd,v 1.1 2011/06/17 09:31:11 narayank Exp $ -->
	
	<import namespace="http://xmlns.vodafone.co.uk/map/spml/Common/CommonObjects/Logon" schemaLocation="Logon.xsd"/>
	
	<complexType name="Header">
		<sequence>
			<element name="source" type="string"/>
			<element name="sourceTimestamp" type="dateTime"/>
			<element name="transactionId" type="string"/>
			<element name="application" type="string" minOccurs="0"/>
			<element name="messageId" type="string" minOccurs="0"/>
			<element name="originator" type="string" minOccurs="0"/>
			<element name="destination" type="string" minOccurs="0"/>
			<element name="version" type="string" minOccurs="0"/>
			<element name="event" type="string" minOccurs="0"/>
			<element name="custom" type="string" minOccurs="0"/>
			<element name="Logon" type="ln:Logon" minOccurs="0"/>
			<element name="Property" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="name" type="string"/>
						<element name="value" type="string"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<element name="Header" type="head:Header"/>
</schema>
