templates_tobuild/opt/deg/IUM/mngr/flatfiles/ProvisioningInterface_Get/soap/SubscriberProvisioningInterface_Get.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.hp.com/deg/GetProvVoLTE/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GetProvVoLTE" targetNamespace="http://www.hp.com/deg/GetProvVoLTE/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.hp.com/deg/GetProvVoLTE/">
      <xsd:element name="ManageEntitlementStatus">
        <xsd:complexType>
          <xsd:sequence maxOccurs="1">
          	<xsd:element name="IMSI" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
          	<xsd:element name="EntitlementName" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

 <xsd:element name="ManageEntitlementStatusResponse">
        <xsd:complexType>
          <xsd:sequence maxOccurs="1">
          	<xsd:element name="Response" type="tns:DefaultResponseType"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
             
      <xsd:complexType name="DefaultResponseType">
        <xsd:sequence maxOccurs="1">
          	<xsd:element name="EntitlementStatus1" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
     
  </xsd:schema>
  </wsdl:types> 
  <wsdl:message name="ManageEntitlementStatusRequest">
    <wsdl:part element="tns:ManageEntitlementStatus" name="ManageEntitlementStatusRequest"/>
  </wsdl:message>
  <wsdl:message name="ManageEntitlementStatusResponse">
    <wsdl:part element="tns:ManageEntitlementStatusResponse" name="ManageEntitlementStatusResponse"/>
  </wsdl:message>
 
  <wsdl:portType name="GetProvVoLTE">
    <wsdl:operation name="ManageEntitlementStatus">
      <wsdl:input message="tns:ManageEntitlementStatusRequest"/>
      <wsdl:output message="tns:ManageEntitlementStatusResponse"/>
    </wsdl:operation>
             
  </wsdl:portType>
  
  <wsdl:binding name="GetProvVoLTESOAP" type="tns:GetProvVoLTE">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ManageEntitlementStatus">
      <soap:operation soapAction="http://www.hp.com/deg/GetProvVoLTE/ManageEntitlementStatus"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
  </wsdl:binding>
  
  <wsdl:service name="GetProvVoLTE">
    <wsdl:port binding="tns:GetProvVoLTESOAP" name="GetProvVoLTESOAP">
      <soap:address location="http://www.hp.com/deg"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>
