templates_tobuild/opt/deg/IUM/mngr/flatfiles/eSIMProvisioningInterface/soap/eSIMProvisioningInterface.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:tns="http://www.hp.com/deg/DEG_eSIMProvisioningInterface/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  name="DEG_eSIMProvisioningInterface" 
  targetNamespace="http://www.hp.com/deg/DEG_eSIMProvisioningInterface/">

  <wsdl:types>
    <xsd:schema targetNamespace="http://www.hp.com/deg/DEG_eSIMProvisioningInterface/">
      
	  <xsd:element name="eSIMCreate">
        <xsd:complexType>
          <xsd:sequence maxOccurs="1">
            <xsd:element name="IMSI" type="xsd:string" maxOccurs="1" minOccurs="1"/>
            <xsd:element name="EID" type="xsd:string" maxOccurs="1" minOccurs="1"/>
            <xsd:element name="eIMSI" type="xsd:string" maxOccurs="1" minOccurs="1"/>
            <xsd:element name="eICCID" type="xsd:string" maxOccurs="1" minOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="eSIMCreateResponse">
        <xsd:complexType>
          <xsd:sequence maxOccurs="1">
            <xsd:element name="Response" type="tns:eSIMResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="eSIMActivate">
        <xsd:complexType>
          <xsd:sequence maxOccurs="1">
            <xsd:element name="IMSI" type="xsd:string" maxOccurs="1" minOccurs="1"/>
            <xsd:element name="EID" type="xsd:string" maxOccurs="1" minOccurs="1"/>
            <xsd:element name="eIMSI" type="xsd:string" maxOccurs="1" minOccurs="1"/>
	    <xsd:element name="eICCID" type="xsd:string" maxOccurs="1" minOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="eSIMActivateResponse">
        <xsd:complexType>
          <xsd:sequence maxOccurs="1">
            <xsd:element name="Response" type="tns:eSIMResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="eSIMUpdateStatus">
        <xsd:complexType>
          <xsd:sequence maxOccurs="1">
            <xsd:element name="eIMSI" type="xsd:string" maxOccurs="1" minOccurs="1"/>
            <xsd:element name="Status" type="xsd:string" maxOccurs="1" minOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
     	<xsd:element name="eSIMUpdateStatusResponse">
        <xsd:complexType>
          <xsd:sequence maxOccurs="1">
            <xsd:element name="Response" type="tns:eSIMResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
       
		 <xsd:element name="eSIMChangeImsi">
        <xsd:complexType>
          <xsd:sequence maxOccurs="1">
            <xsd:element name="IMSI" type="xsd:string" maxOccurs="1" minOccurs="1"/>
            <xsd:element name="newIMSI" type="xsd:string" maxOccurs="1" minOccurs="1"/>
            <xsd:element name="newICCID" type="xsd:string" maxOccurs="1" minOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      
			<xsd:element name="eSIMChangeImsiResponse">
        <xsd:complexType>
          <xsd:sequence maxOccurs="1">
            <xsd:element name="Response" type="tns:eSIMResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="eSIMChangeSecondaryImsi">
        <xsd:complexType>
          <xsd:sequence maxOccurs="1">
            <xsd:element name="SecondaryIMSI" type="xsd:string" maxOccurs="1" minOccurs="1"/>
            <xsd:element name="newSecondaryIMSI" type="xsd:string" maxOccurs="1" minOccurs="1"/>
            <xsd:element name="newSecondaryICCID" type="xsd:string" maxOccurs="1" minOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="eSIMChangeSecondaryImsiResponse">
        <xsd:complexType>
          <xsd:sequence maxOccurs="1">
            <xsd:element name="Response" type="tns:eSIMResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="eSIMDelete">
          <xsd:complexType>
            <xsd:sequence maxOccurs="1">
              <xsd:element name="eIMSI" type="xsd:string" maxOccurs="1" minOccurs="1"/>
              </xsd:sequence>
          </xsd:complexType>
      </xsd:element>

      <xsd:element name="eSIMDeleteResponse">
        <xsd:complexType>
          <xsd:sequence maxOccurs="1">
            <xsd:element name="Response" type="tns:eSIMResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:complexType name="eSIMResponse">
        <xsd:sequence maxOccurs="1">
          <xsd:element name="ReturnCode" type="xsd:string" maxOccurs="1" minOccurs="1"/>
          <xsd:element name="ErrorCode" type="xsd:string" maxOccurs="1" minOccurs="0"/>
          <xsd:element name="Description" type="xsd:string" maxOccurs="1" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="eSIMCreateRequest">
    <wsdl:part element="tns:eSIMCreate" name="eSIMCreateRequest"/>
  </wsdl:message>

  <wsdl:message name="eSIMCreateResponse">
    <wsdl:part element="tns:eSIMCreateResponse" name="eSIMCreateResponse"/>
  </wsdl:message>

  <wsdl:message name="eSIMActivateRequest">
    <wsdl:part element="tns:eSIMActivate" name="eSIMActivateRequest"/>
  </wsdl:message>

  <wsdl:message name="eSIMActivateResponse">
    <wsdl:part element="tns:eSIMActivateResponse" name="eSIMActivateResponse"/>
  </wsdl:message>

  <wsdl:message name="eSIMUpdateStatusRequest">
    <wsdl:part element="tns:eSIMUpdateStatus" name="eSIMUpdateStatusRequest"/>
  </wsdl:message>
  
  <wsdl:message name="eSIMUpdateStatusResponse">
    <wsdl:part element="tns:eSIMUpdateStatusResponse" name="eSIMUpdateStatusResponse"/>
  </wsdl:message>

  <wsdl:message name="eSIMChangeImsiRequest">
    <wsdl:part element="tns:eSIMChangeImsi" name="eSIMChangeImsiRequest"/>
  </wsdl:message>
  
  <wsdl:message name="eSIMChangeImsiResponse">
    <wsdl:part element="tns:eSIMChangeImsiResponse" name="eSIMChangeImsiResponse"/>
  </wsdl:message>
  
  <wsdl:message name="eSIMChangeSecondaryImsiRequest">
    <wsdl:part element="tns:eSIMChangeSecondaryImsi" name="eSIMChangeSecondaryImsiRequest"/>
  </wsdl:message>
  
  <wsdl:message name="eSIMChangeSecondaryImsiResponse">
    <wsdl:part element="tns:eSIMChangeSecondaryImsiResponse" name="eSIMChangeSecondaryImsiResponse"/>
  </wsdl:message>

  <wsdl:message name="eSIMDeleteRequest">
    <wsdl:part element="tns:eSIMDelete" name="eSIMDeleteRequest"/>
  </wsdl:message>

  <wsdl:message name="eSIMDeleteResponse">
    <wsdl:part element="tns:eSIMDeleteResponse" name="eSIMDeleteResponse"/>
  </wsdl:message>

  <wsdl:portType name="DEG_eSIMProvisioningInterface">
    <wsdl:operation name="eSIMCreate">
      <wsdl:input message="tns:eSIMCreateRequest"/>
      <wsdl:output message="tns:eSIMCreateResponse"/>
    </wsdl:operation>

    <wsdl:operation name="eSIMActivate">
      <wsdl:input message="tns:eSIMActivateRequest"/>
      <wsdl:output message="tns:eSIMActivateResponse"/>
    </wsdl:operation>

    <wsdl:operation name="eSIMUpdateStatus">
      <wsdl:input message="tns:eSIMUpdateStatusRequest"/>
      <wsdl:output message="tns:eSIMUpdateStatusResponse"/>
    </wsdl:operation>
    
		<wsdl:operation name="eSIMChangeImsi">
      <wsdl:input message="tns:eSIMChangeImsiRequest"/>
      <wsdl:output message="tns:eSIMChangeImsiResponse"/>
    </wsdl:operation>

		<wsdl:operation name="eSIMChangeSecondaryImsi">
      <wsdl:input message="tns:eSIMChangeSecondaryImsiRequest"/>
      <wsdl:output message="tns:eSIMChangeSecondaryImsiResponse"/>
    </wsdl:operation>

    <wsdl:operation name="eSIMDelete">
      <wsdl:input message="tns:eSIMDeleteRequest"/>
      <wsdl:output message="tns:eSIMDeleteResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="DEG_eSIMProvisioningInterfaceSOAP" type="tns:DEG_eSIMProvisioningInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="eSIMCreate">
      <soap:operation soapAction="http://www.hp.com/deg/DEG_eSIMProvisioningInterface/eSIMCreate"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="eSIMActivate">
      <soap:operation soapAction="http://www.hp.com/deg/DEG_eSIMProvisioningInterface/eSIMActivate"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="eSIMUpdateStatus">
      <soap:operation soapAction="http://www.hp.com/deg/DEG_eSIMProvisioningInterface/eSIMUpdateStatus"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="eSIMChangeImsi">
      <soap:operation soapAction="http://www.hp.com/deg/DEG_eSIMProvisioningInterface/eSIMChangeImsi"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="eSIMChangeSecondaryImsi">
      <soap:operation soapAction="http://www.hp.com/deg/DEG_eSIMProvisioningInterface/eSIMChangeSecondaryImsi"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="eSIMDelete">
      <soap:operation soapAction="http://www.hp.com/deg/DEG_eSIMProvisioningInterface/eSIMDelete"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="DEG_eSIMProvisioningInterface">
    <wsdl:port binding="tns:DEG_eSIMProvisioningInterfaceSOAP" name="DEG_eSIMProvisioningInterfaceSOAP">
      <soap:address location="http://www.hp.com/deg"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
