deployment/deg/opt/deg/IUM/flatfiles/DeviceInterface/soap/GetSubscriberDetails/FaultMessage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	 xmlns:flt="http://xmlns.orange.es/map/spml/Common/FaultMessage"
	 xmlns:obj="http://xmlns.orange.es/map/spml/Common/Objects"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://xmlns.orange.es/map/spml/Common/FaultMessage"
	 elementFormDefault="unqualified">
	<import namespace="http://xmlns.orange.es/map/spml/Common/Objects" schemaLocation="Objects.xsd"/>
	
	<complexType name="Fault">
		<sequence>
			<element name="faultcoode" type="string"/>
			<element name="faultstring" type="string"/>
			<element name="faultactor" type="string"/>
			<element name="detail" type="flt:detail" minOccurs="0"/>
		</sequence>
	</complexType>
	
	<complexType name="detail">
		<sequence>
			<element ref="obj:objects"/>
		</sequence>
	</complexType>
		
	<element name="Fault" type="flt:Fault"/>
	<element name="objects" type="obj:objects"/>
</schema>