deployment/deg/opt/deg/IUM/flatfiles/DeviceInterface/soap/GetSubscriberDetails/GetSubscriberDetails.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- ICC: 01/08/2008 - LIB_FRAMEWORK_1_5_1_P01 --><!-- ICC: First version --><!-- ICC: 08/04/2011 - LIB_FRAMEWORK_3_0_0 --><!-- ICC: Added new messages RequestHeader, RequestResponse and Fault --><!-- ICC: Request and Response message only have one part now (otherwise Axis does not support them) --><!-- ICC: Renamed HttpPort into Port, since transport may be HTTP or JMS or something else --><!-- TILV2: Header: /cvs/TIL_V2/SharedResources/SchemaDefinitions/Vodafone/GITA1/GITA2/GITA3/MyOperation.wsdl,v 1.7 2008/08/01 11:45:28 ayelr Exp  --><!-- TILV2: Header: /cvs/TIL_CORE/TIL_FW_01/SharedResources/SchemaDefinitions/Vodafone/GITA1/GITA2/GITA3/MyOperation.wsdl,v 1.1 2011/06/17 09:31:11 narayank Exp  --><!-- PXX: $Header: /cvs/TIL_CORE/TIL_FW_01/SharedResources/SchemaDefinitions/Vodafone/GITA1/GITA2/GITA3/MyOperation.wsdl,v 1.1 2011/06/17 09:31:11 narayank Exp $ --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:sph="http://xmlns.vodafone.co.uk/map/spml/wsdl/Common/Header"
xmlns:spml="urn:siemens:names:prov:gw:SPML:2:0" 
xmlns:flt="http://xmlns.vodafone.co.uk/map/spml/Common/FaultMessage" xmlns:tns="http://xmlns.vodafone.co.uk/map/spml/wsdl/CustomerManagement/CustomerProfileManagement/CustomerPersonalInformationManagement/GetSubscriberDetails" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="GetSubscriberDetails" 
targetNamespace="http://xmlns.vodafone.co.uk/map/spml/wsdl/CustomerManagement/CustomerProfileManagement/CustomerPersonalInformationManagement/GetSubscriberDetails">
	
    


    <import location="GetSubscriberDetails.xsd" namespace="urn:siemens:names:prov:gw:SPML:2:0"/>
    <import location="Header.xsd" namespace="http://xmlns.vodafone.co.uk/map/spml/wsdl/Common/Header"/>
    <import location="FaultMessage.xsd" namespace="http://xmlns.vodafone.co.uk/map/spml/Common/FaultMessage"/>
    
    <message name="Request">
        <part element="spml:searchRequest" name="part1"/>
    </message>
    <message name="Response">
        <part element="spml:searchResponse" name="part1"/>
    </message>
    <message name="RequestHeader">
        <part element="sph:Header" name="part1"/>
    </message>
    <message name="ResponseHeader">
        <part element="sph:Header" name="part1"/>
    </message>
    <message name="Fault">
        <part element="flt:Fault" name="part1"/>
    </message>
    
    <service name="Service">
        <port name="HTTPEndpoint" binding="tns:HTTPEndpointBinding">
            <soap:address location="http://localhost:8888/BusinessServices/CustomerManagement/CustomerProfileManagement/CustomerPersonalInformationManagement/GetSubscriberDetails/Interface/Service.serviceagent/HTTPEndpoint"/>
        </port>
    </service>
    
    <portType name="Port">
        <operation name="GetSubscriberDetails">
            <input message="tns:Request"/>
            <output message="tns:Response"/>
            <fault message="tns:Fault" name="fault1"/>
        </operation>
    </portType>
    
    <binding name="HTTPEndpointBinding" type="tns:Port">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetSubscriberDetails">
            <soap:operation style="document" soapAction="GetSubscriberDetails.1"/>
            <input>
                <soap:body use="literal" parts="part1"/>
                <!--
                <soap:header use="literal" message="tns:WSSecurityHeader" part="wssecurity"/>
                -->
                <soap:header use="literal" message="tns:RequestHeader" part="part1"/>
            </input>
            <output>
                <soap:body use="literal" parts="part1"/>
                <soap:header use="literal" message="tns:ResponseHeader" part="part1"/>
            </output>
            <fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </fault>
        </operation>
    </binding>
    
    <!--
    <message name="WSSecurityHeader">
        <part name="wssecurity" element="ns:Security"/>
    </message>
    -->
    
</definitions>
