deployment/deg/opt/deg/IUM/flatfiles/DeviceInterface/soap/GetSubscriberDetails/Logon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?encrypt field="Login/password" type="string"?>

<!-- ICC Kumaravel Narayanan: 18/03/2008 
	First version. Included for project Partner API
-->

<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://xmlns.orange.es/map/spml/Common/CommonObjects/Logon"
	 xmlns:ln="http://xmlns.orange.es/map/spml/Common/CommonObjects/Logon"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="unqualified">
	<complexType name="Logon">
		<sequence>
			<element name="userName" type="string"/>
			<element name="password" type="string"/>
		</sequence>
	</complexType>
	<element name="Logon" type="ln:Logon"/>
</schema>